:root {
    --black-primary: #242424;
    --red-primary: #B60005;
    --white-primary: #ffffff;
    --graylight-primary: #f8f8f8;
    --gray-primary: #c9c9c9;
    --gray-text: #5f5f5f;
    --ofsset-primary: #fafafa;
    --max-tamanho: 1240px;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #242424;
}

p {
    font-size: 1rem;
}

button,
html [type="button"] {
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 1rem;
    transition: .4s ease;
    text-decoration: none;
} 

Link,
a {
    text-decoration: none;
    font-weight: bold;
}

.d-none {
    display: none !important;
}

.opacity-0 {
    opacity: 0;
}

.centro {
    text-align: center;
}

.text-white {
    color: var(--white-primary);
}

.text-black {
    color: var(--black-primary);
}
.text-red {
    color: var(--red-primary);
}
.negrito {
    font-weight: bold !important;
}
.h3-preto {
    font-size: 1.15rem;
    color: var(--black-primary);
    font-weight: bold;
    text-transform: uppercase;
}

.h4-preto {
    font-size: 1rem !important;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25rem;
    width: 100%;
    color: var(--black-primary);
    margin-bottom: 0%;
}

.h4-branco {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25rem;
    width: 100%;
    color: var(--white-primary);
    margin-bottom: 0%;
}

.h4-branco {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25rem;
    width: 100%;
    color: var(--red-primary);
    margin-bottom: 0%;
}

.background-preto {
    background-color: var(--black-primary);
}

.background-vermelho {
    background-color: var(--red-primary);
}

.background-branco {
    background-color: var(--white-primary);
}

.background-cinza {
    background-color: var(--gray-primary);
}

.paragrafo-preto {
    font-size: 1rem;
    color: var(--black-primary);
    line-height: 1.15rem;
    text-align: justify;
}

.paragrafo-cinza {
    font-size: 1rem;
    color: var(--gray-text);
}

.paragrafo-branco {
    font-size: 1rem;
    color: var(--white-primary) !important;
}

.redondo {
    border-radius: 50px !important;
}

.botao-vermelho {
    background-color: var(--red-primary) !important;
    color: var(--white-primary);
    text-transform: uppercase;
    margin-top: 5% !important;
    text-decoration: none !important;
}

.botao-vermelho:hover {
    background-color: var(--black-primary) !important;
    color: var(--white-primary);
    text-decoration: none !important;
}

.botao-preto {
    background-color: var(--black-primary) !important;
    color: var(--white-primary);
    text-transform: uppercase;
    margin-top: 5% !important;
    text-decoration: none !important;
}

.botao-preto:hover {
    background-color: var(--red-primary) !important;
    color: var(--white-primary);
    transition: transform 0.5s ease;
    text-decoration: none !important;
}

/* HEADER */
.container-menu {
    width: 100%;
    max-width: var(--max-tamanho);
    padding: 12px 15px;
}
.menu-institucional {
    width: 100%;
    align-items: center;
    justify-content: space-between !important;
    margin-bottom: 10px;
}
.menu-institucional-item {
    width: max-content;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.menu-institucional-item-link {
    padding: 9px 15px;
}
.menu-institucional-item-link :hover {
    text-decoration: none !important;
    font-weight: bold;
    transition: all 0 easy;
}

/* HOME */
.home-produto-titulo,
.player-titulo,
.favoritos-titulo,
.brasil-titulo,
.catalogo-titulo,
.contato-titulo,
.sobre-titulo,
.calibracao-titulo,
.suporte-titulo,
.todososprodutos-titulo,
.trabalheconosco-titulo,
.orcamento-titulo
.sitemap-titulo {
    font-size: 2.5rem !important;
    font-weight: bold;
    line-height: 2.5rem !important;
    text-transform: uppercase !important;
}
.home-produto-categoria {
    font-size: 1rem;
    line-height: 1rem;
    margin-right: 1rem;
}
.home-produto-descricao,
.player-descricao,
.catalogo-descricao,
.contato-descricao,
.calibracao-descricao {
    font-size: 1rem;
    text-align: justify;
}

/* BANNER HOME*/
.bannerhome-titulo {
    font-size: 2.5rem !important;
}
.bannerhome-subtitulo {
    font-size: 1.5rem !important;
}

/* PONTOS */
.pontos-titulo {
    font-size: 1rem !important;
    text-transform: uppercase;
    
}

/* CATEGORIA */
.css-1brqqp9 {
    background-color: var(--black-primary);
}

.card-titulo-categoria {
    width: 100%;
    max-width: var(--max-tamanho);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    margin: auto;
}

.titulo-categoria {
    font-size: 1.15rem !important;
    font-weight: bold;
    margin-right: auto;
}

.botao-filtro {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--black-primary);
    color: var(--black-primary);
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    width: auto;
    height: 40px;
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
    font-weight: bold;
    text-decoration: none !important;
}
.botao-filtro:hover {
    background-color: var(--red-primary);
    border-color: var(--red-primary);
    color: var(--white-primary) !important;
    transition: .4s ease;
    text-decoration: none !important;
}

.botao-filtro:active {
    background-color: var(--red-primary) !important;
    color: var(--white-primary);
    border-color: var(--red-primary);
    text-decoration: none !important;
}

.botao-filtro p {
    margin: auto;
    text-align: center;
    text-decoration: none !important;
}

.container-categoria-produtos {
    max-width: var(--max-tamanho);
    margin: auto;
    padding-top: 1%;
}

.card-produto {
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    max-width: 18.75rem;
    margin-top: 20px;
    border: 2px solid;
    border-color: transparent;
    padding: 20px;
}

.card-produto:hover {
    border-color: var(--gray-primary);
}

.imagem-produto-categoria {
    height: 17.5rem;
}

.imageSpan > span{
    height: 17.5rem !important;
    width: 100% !important;
}

.imagem-produto-categoria:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

.chamada-produto-categoria {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: var(--gray-text);
    margin-top: 5%;
    line-height: 1.15rem;
}

.popAntd {
    z-index: 9999999999999999999999999999999999999999999999999999999999999999999 !important;
}
/* PRODUTO */
.container-produto {
    width: 100%;
    background-color: var(--white-primary);
}
.card-produto-individual {
    padding: 3%;
    background-color: var(--white-primary);
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
}

.imagem-produto-individual {
    width: 100%;
    background-color: var(--ofsset-primary);
    /*height: 350px;*/
}

.titulo-produto-individual {
    font-size: 1.35rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--black-primary);
    margin-bottom: 2%;
}

.descricao-produto-individual {
    line-height: 1.25rem;
    max-width: 829px;
    margin-bottom: 3%;
    color: var(--black-primary);
}

.link-descricao-produto-individual {
    color: var(--red-primary);
    cursor: pointer;
    font-weight: bold;
}

.link-descricao-produto-individual:hover {
    color: var(--black-primary);
}

.variacao-titulo,
.quantidade {
    font-weight: bold;
    color: var(--black-primary);
}
.variacao-opcoes {
    width: 100%;
    max-width: 358px;
    min-height: 50px;
    padding: 3px 10px;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 40px;
    background-color: var(--graylight-primary);
}
.variacao-grupo {
    display: flex;
    width: 100%;
    max-width: 358px;
    min-height: 50px;
    padding: 3px 10px;
    outline: none;
    border: none !important;
    border-radius: 8px;
    align-items: center;
    justify-items: center;
    background-color: var(--graylight-primary);
}

.variacao-input {
    width: 100%;
    height: 100%;
    border: none !important;
    border-radius: 8px;
    color: var(--black-primary);
}

.variacao-input:focus {
    border: none !important;
}

.variacao-input-select {
    width: 100%;
    height: 100%;
    border: none !important;
    border-radius: 8px;
    color: var(--black-primary) !important;
}

.variacao-input-textarea {
    width: 100%;
    height: 100%;
    border: none !important;
    border-radius: 8px;
}

.quantidade-input {
    margin: auto;
    height: 40px;
    width: 150px;
    color: var(--black-primary);
    border: 1px solid;
    border-color: var(--black-primary);
    border-radius: 8px;

}

.container-produto-tabs {
    width: 100%;
    max-width: var(--max-tamanho);
    margin: auto;
    justify-content: center;
    background-color: var(--white-primary);
    padding-top: 0%;
    padding-bottom: 3%;
}

.produto-tabs {
    width: 100%;
    max-width: 211px;
    color: var(--black-primary);
}

.produto-tabs:active {
    color: var(--red-primary);
}

/* PLAYER */

/* BRASIL */
.section-brasil {
    align-items: flex-end;
    text-align: right;
    max-width: var(--max-tamanho);
    flex-direction: column;
    z-index: 20;
}

/* CALIBRAÇÃO */
.calibracao-subtitulo,
.suporte-titulotab,
.adm-subtitulo,
.sitemap-subtitulo {
    font-size: 1.15rem !important;
    font-weight: bold;
    text-transform: uppercase;
}

/* TODOS OS PRODUTOS */
.todososprodutos-subtitulo,
.suporte-subtitulo {
    font-size: 1.5rem !important;
    font-weight: bold;
    text-transform: uppercase !important;
}

/* CARRINHO / ORCAMENTO / ADMIN */
.orcamento-subtitulo,
.adm-titulo {
    font-size: 1.5rem !important;
    text-transform: uppercase;
}
.chakra-input__group.css-1105bzl,
.chakra-input__group.css-1jn4ak0 {
    border-radius: 8px!important;
    background-color: transparent;
}

.input-carrinho {
    border: 2px solid var(--black-primary) !important;
    border-radius: 8px !important;
}
.css-akd4ig {
    border: 1px solid var(--black-primary) !important;
    border-radius: 8px !important;
}

/* TABELA CATEGORIA */
#tabela-categoria,
#tabela-produtos,
#tabela-documentos {
    font-size: 1rem;
}
#tabela-categoria thead tr th,
#tabela-produtos thead tr th,
#tabela-documentos thead tr th {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1rem;
}

#tabela-categoria tbody tr td,
#tabela-produtos tbody tr td,
#tabela-documentos tbody tr td {
    padding: 10px 16px;
}

.botao-tabelaprodutos {
    padding: 1% 5% !important;
    height: auto !important;
    font-size: 1rem!important;
    border-radius: 50px!important;
    color: var(--red-primary)!important;
    border: 1px solid var(--red-primary)!important;
    background-color: #ffe6e7!important;
    
}

.ant-pagination-item {
    border-radius: 8px;
}

.ant-pagination-item:hover {
    border-color: var(--red-primary);
    background: var(--red-primary);
}

.ant-pagination-item-active {
    border-color: var(--red-primary);
    background: var(--red-primary);
    border-radius: 8px;
}

.ant-pagination-item-active a {
    color: var(--white-primary);
}

.ant-pagination-item a:hover {
    color: var(--white-primary);
}

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
    border-radius: 8px;
}

.ant-pagination-prev .ant-pagination-item-link:hover, .ant-pagination-next:hover .ant-pagination-item-link:hover {
    border-color: var(--black-primary);
    background-color: var(--black-primary);
    color: var(--white-primary);
}

/* RESPONSIVO */
@media screen and (min-width: 992px) {
    .imagem-produto-individual {
        width: 40%;
    }
    .card-titulo-categoria {
        flex-direction: row;
        justify-content: space-around;
    }
    .card-produto-individual {
        flex-direction: row;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .player-titulo,
    .favoritos-titulo,
    .brasil-titulo,
    .sobre-titulo {
        font-size: 1.75rem;
        line-height: 1.75rem;
        font-weight: bold !important;
    }
    .section-brasil {
        text-align: center;
    }
    .bannerhome-titulo {
        font-size: 1.5rem !important;
    }
    .bannerhome-subtitulo {
        font-size: 1rem !important;
    }
}