@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
  --blue-gray: #013e57;
  --red-primary: #b60005;
  --black-primary: #242424;
  --white-primary: #fff;
}


html,
body {
  padding: 0;
  margin: 0;
}

img {
  pointer-events: none !important;
}

* {
  font-family: 'PT Sans', sans-serif !important;
  scroll-behavior: smooth;
}

.swiper-pagination-bullet-active {
  background-color: #b60005 !important;
}

.ck-editor__editable_inline {
  min-height: 200px;
}

.ant-menu {
  background: '#242424' !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover {
  color: #b60005 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after {
  border-color: #b60005 !important;
}

.ant-menu-light .ant-menu-submenu-title:hover {
  color: #b60005 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover {
  color: #b60005 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after {
  border-color: #b60005 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  color: #b60005 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-color: #b60005 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #b60005 !important;
}

.ant-menu-submenu-popup > .ant-menu {
  background: #242424 !important;
}

/* .ant-menu-title-content {
  color: #B60005 !important;
} */

.ant-menu-submenu-title {
  display: flex;
  align-items: center;
}

.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
  justify-content: flex-end;
  width: 100%;
}

.ant-menu-submenu-title {
  color: #fff;
}

.ant-menu-title-content {
  color: #fff;
}

.swiper {
  width: 100% !important;
}

::-webkit-scrollbar-track {
  background-color: #232323;
}

::-webkit-scrollbar {
  width: 6px;
  background: #2d04e6;
}

.rc-menu-submenu-popup {
  z-index: 9999999999 !important;
}

#unique > .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background: #b60005;
  border-radius: 3px;
}

.swiper {
  width: 100% !important;
}

.swiper-wrapper {
  width: 100% !important;
}

.swiper-wrapper {
  padding-bottom: 50px !important;
}

@media only screen and (max-width: 600px) {
  .swiper-wrapper {
    padding-bottom: 80px !important;
  }
}
.ant-table-thead > tr > th {
  background: #fff !important;
}

.editor_button {
  background-color: #b60005;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  color: #fff;
}

.editor_button:hover {
  transition: all 0.3s;
  background-color: #242424;
  color: #fff !important;
}

.ant-menu-item-selected {
  background-color: #232323 !important;
  color: #fff !important;
}

.ant-menu-item-only-child {
  padding-left: 16px !important;
}
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title:hover,
.ant-menu-vertical.ant-menu-sub .ant-menu-item:hover {
  background: var(--chakra-colors-red-600);
  border-radius: 4px;
}

#zoom {
  pointer-events: all !important;
}

/* .ant-menu-vertical.ant-menu-sub .ant-menu-item:hover {
  width: 80% !important;
} */
/* .ant-menu-submenu-popup {
  top: 180px !important;
} */

.rc-menu-horizontal > .rc-menu-submenu > .rc-menu-submenu-title {
  color: white;
  /* border: none !important; */
}

.rc-menu-submenu-selected {
  background-color: #232323 !important;
  /* border-radius: 5px; */
  /* border-color: #b60005 !important; */
  border: none !important;
}

.rc-menu-horizontal > .rc-menu-submenu-active {
  background-color: #232323 !important;
  /* border-color: #b60005 !important; */
  border: none !important;
}

.rc-menu-submenu-active:hover {
  border-radius: 5px !important;
}

.rc-menu-submenu-active > .rc-menu-submenu-title {
  background-color: #b60005 !important;
  border-radius: 5px !important;
}

.rc-menu-submenu > .rc-menu {
  background-color: #232323 !important;
}

.rc-menu {
  color: white !important;
  box-shadow: none !important;
  border: none !important;
}

.rc-menu-item-selected {
  background-color: #232323 !important;
}

.rc-menu-item-selected:hover {
  background-color: #b60005 !important;
}

.rc-menu-item-active {
  background-color: #b60005 !important;
}

.rc-menu-horizontal > .rc-menu-submenu > .rc-menu-submenu-title {
  padding: 10px !important;
  /* border-radius: 5px; */
}

.rc-menu-overflow-item {
  margin: 0 5px;
}

.rc-menu-submenu .rc-menu-submenu-popup .rc-menu-submenu-placement-bottomLeft {
  top: 220px !important;
}

.rc-menu-vertical > .rc-menu-submenu > .rc-menu-submenu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rc-menu-inline > .rc-menu-submenu > .rc-menu-submenu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rc-menu-submenu-title > svg {
  width: 17px !important;
}

.rc-menu-vertical > .rc-menu-item {
  padding: 12px 24px !important;
}

.rc-menu-horizontal > .rc-menu-submenu > .rc-menu-submenu-title {
  cursor: pointer !important;
}

.rc-menu-vertical > .rc-menu-item {
  cursor: pointer !important;
}

.rc-menu-submenu-title {
  cursor: pointer !important;
}

.rc-menu-inline > .rc-menu-submenu > .rc-menu-submenu-title {
  white-space: normal;
}

.rc-menu-sub.rc-menu-inline > .rc-menu-item {
  white-space: normal;
}

.embed-1080p > iframe {
  height: 600px !important;
}

.ant-slider-step {
  background-color: rgba(182, 0, 5, 0.1)
}

.chakra-form__helper-text.css-1dsvy77 {
  color: var(--black-primary);
  font-weight: bold;
  font-style: italic;
}

.css-mwllcx {
  max-width: inherit!important;
}


.btn-all-products {
  background-color: white;
  font-size: 16px;
  color: #242424;
}

.btn-all-products:hover {
  background-color: #b60005;
  
}

.btn-all-products .ant-dropdown-menu-submenu-title {
  color: #242424;
  font-size: 16px;
}

.btn-all-products .ant-dropdown-menu-submenu-title:hover {
  background-color: #b60005; 
}

.btn-all-products ul {
  background-color: #fff !important;
}

.btn-all-products-bg ul{
  background-color: #fff !important;
}

.btn-all-products-bg ul li{
  color: 242424 !important;
  min-height: 40px;
}

.btn-all-products-bg ul li:hover{
  background-color: #b60005; 
  color: #fff !important;
}


.btn-all-products .ant-dropdown-menu-submenu-arrow-icon {
  color: #242424 !important;
}

 .ant-dropdown-menu-title-content {
  font-size: 17px;
}

.pop-select {
  z-index: 99999999999999999999999999;
}

.indexMax {
  z-index: 99999999999999999999999999; 
}

.btn-all-products .ant-dropdown-menu-submenu-title {
  min-height: 45px;
}


.ant-popover-placement-top {
  z-index: 9999999999999999999999999999999;
}

.chakra-modal__overlay {
  z-index: 1 !important;
}

.chakra-modal__content-container {
  z-index: 2 !important;
}

.chakra-modal__content {
  z-index: 2 !important;
}

.btn-all-products .ant-dropdown-menu-submenu-title:hover {
  color: #fff !important;
}