@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'PT Sans', sans-serif !important;
  scroll-behavior: smooth;
}

.swiper-pagination-bullet-active {
  background-color: #B60005 !important;
}

.ck-editor__editable_inline {
  min-height: 200px;
}

.ant-menu {
  background: '#242424' !important;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover {
  color: #B60005 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover::after {
  border-color: #B60005 !important;
}

.ant-menu-light .ant-menu-submenu-title:hover {
  color: #B60005 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover {
  color: #B60005 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover::after {
  border-color: #B60005 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected {
  color: #B60005 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected::after {
  border-color: #B60005 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected {
  color: #B60005 !important;
}

.ant-menu-submenu-popup>.ant-menu {
  background: #242424 !important;
}

/* .ant-menu-title-content {
  color: #B60005 !important;
} */

.ant-menu-submenu-title {
  display: flex;
  align-items: center;
}

.ant-menu-vertical.ant-menu-sub>.ant-menu-item {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 100%;
  margin-left: 13px;
}

.ant-menu-vertical>.ant-menu-submenu>.ant-menu-submenu-title {
  justify-content: flex-end;
  width: 100%;
}

.ant-menu-vertical.ant-menu-sub>.ant-menu-item svg {
  margin-left: 10px
}

.ant-menu-submenu-title {
  color: #fff;
}

.ant-menu-title-content {
  color: #fff
}

.swiper {
  width: 100% !important;
}

::-webkit-scrollbar-track {
  background-color: #232323;
}

::-webkit-scrollbar {
  width: 6px;
  background: #2d04e6;
}

::-webkit-scrollbar-thumb {
  background: #B60005;
  border-radius: 3px;
}


.swiper {
  width: 100% !important;
}

.swiper-wrapper {
  width: 100% !important;
}

.ant-menu-vertical.ant-menu-sub .ant-menu-item {
  margin-left: 13px !important;
}

.swiper-wrapper {
  padding-bottom: 50px !important;
}

.ant-table-thead>tr>th {
  background: #fff !important;
}

.editor_button {
  background-color: #B60005;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  color: #fff;
}

.editor_button:hover {
  transition: all 0.3s;
  background-color: #810104;
  color: #fff !important;
}

.ant-menu-item-selected {
  background-color: #232323 !important;
  color: #fff !important;
}

.ant-menu-submenu {
  padding: 0px 1rem !important;
}

.ant-menu-item-only-child {
  padding-left: 16px !important;
}

.ant-menu-horizontal>.ant-menu-item,
.ant-menu-horizontal>.ant-menu-submenu:hover,
.ant-menu-vertical>.ant-menu-submenu>.ant-menu-submenu-title:hover {
  background: var(--chakra-colors-red-600);
  border-radius: 4px;
}